body{
	margin:0px;
	font-family: arial;
}
.heading{
	font-weight:bold;
	margin-left: 10;
}
.col2{
	width:50%;
}
.col8{
	width:12.5%;
}

.textarea{
	border:1px solid darkgray;
	width:100 %;
	overflow: auto;
	resize:both;
	background-color: white;
	text-align:left;
	color:gray;


}
.dropdown_container {
	position: relative;
	margin:10;
	border:1px solid black;
	width:20%;
}

.dropdown{
	position:absolute;
	display:none;
	list-style-type: none;
	background: white;
	color: black;
	width:100%;
	padding:0;
	z-index:2;
	top:0;
	left:0;
	z-index:3;
	margin:0;
	margin-top:30px;
	border:1px solid black;
}

.dropdown li label{
	display: flex;
	width: 100%;
	cursor: pointer;
}

.selected_values{
	list-style-type: none;
	display: flex;
	/*width:60%;*/
	/*border:1px solid black;*/
	text-align: left;
	background:white;
	padding:0;
}
.selected_values li{
	text-align: left;
	display: flex;
	width:25%;
	background:rgba(0,0,0,0.45);
	color:black;
	margin:1%; 
}
.selected_values li span{
	margin-left:10%;
}

.dropdown_checkbox {
	display:none;
}
